@model IEnumerable<Mid_Demo.EF.Program_Table>

@{
    ViewBag.Title = "Program List";
}

<h2 class="my-4">@ViewBag.Title</h2>

@Html.ActionLink("Create New Program", "Create", "Program", null, new { @class = "btn btn-success mb-3" })

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Program Name</th>
            <th>TRP Score</th>
            <th>Channel</th>
            <th>Air Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var program in Model)
        {
            <tr>
                <td>@program.ProgramName</td>
                <td>@program.TRPScore</td>
                <td>@program.Channel_Table.ChannelName</td>
                <td>@program.AirTime</td>
                <td>
                    <a href="@Url.Action("Edit", "Program", new { id = program.ProgramId })" class="btn btn-primary btn-sm">Edit</a>
                    <a href="@Url.Action("Delete", "Program", new { id = program.ProgramId })" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
